/* Using this as a starting point for CSS 

body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  
  header {
    background: #d21034;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
    background: #333;
  }
  
  h2 {
    font-size: 24px;
  }
  

  a {
    color: #d21034;
  }
  */
  img {
    float:left;
    padding: 10px;
}
  
  .container {
    width: 1024px;
    margin:auto;
    padding: 20 px;
    background-color: white;
}

  #copyright {
    width: 100%;
    height: 30px;
    background-color:rgb(95, 86, 86);
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    margin: 0;
    padding: 0; 
    text-align:center;
    vertical-align: middle;
    color: white;     
}

  #tealbox {
    width: 100%;
    height: 20px;
    bottom: 0;
    position: relative;
    left:0;
    right:0;
    margin: 0;
    padding: 0;
    background-color: #4aaaa5;
}

/*
    #tealbox,
  #copyright{
    float: left;
}
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  */
  #contact-info {
    width: 70%;
  }
  
  #about-me  {
    width: 1024px;
    background: white;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: black;
    color: teal;
  }
  
  #about-text{
    width: 1024px;
    height: 200px;
    margin-right: 20px;
    word-break: keep-all;
}

  